/* Document */

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

header {
  color: white;
}

/* Color Hex 

Black: #161317
Dark Purple Grey: #7A7582
Light Purple Grey: #AAADBF
Purple: #4D3892:
Highlight color: #CBCEDC
*/

/* Hilight*/
.half_background {
  background: linear-gradient(to top, #CBCEDC 30%, transparent 10%);
}

/* Navigation */

nav {
	text-align: center;
	margin: 30px 0 0 ;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
   display: inline-block;
   padding: 5px 5px;
}

nav a {
	font-family: 'Roboto Slab', serif;
	color: #161317;
	font-size: 1em;
	font-weight: bold;
}

nav a:hover{
	color: #CBCEDC;
	text-decoration: none;
}

.dropbtn {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropbtn:hover {
  color: #CBCEDC;
}

.dropdown {
  position: relative;

}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #7A7582;
  padding: 15px;
  border-radius: 7%;
}

.dropdown-content a {
  text-decoration: none;
}


.dropdown:hover .dropdown-content {
  display: block;
}

/* Headers */

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 5em;
  color: #161317
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #161317;
  font-size: 1em;
  font-weight: normal;
}

h3{
  font-family: 'Roboto Slab', serif;
  color: #161317;
  font-size: 3.5em;
  line-height: 90%;
}

/* Footer */ h6 {
  color: #545356;
  font-family: 'Playfair Display', serif;
  margin-top: -90px;
}

/* Links */

a {
  color: #AAADBF;
  font-family: 'Playfair Display', serif;
  text-decoration: none;

}

a:hover {
  color: #7A7582;
  text-decoration: none;
}

p {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

/* Gallery */
.nopadding {
   padding: 5 !important;
   margin: 5 !important;
}

/* Footer */
.container-fluid {
  margin-bottom: 90px;
}

footer {
  text-align: center;
  opacity: .5;
  font-family: 'EB Garamond', serif;
}

/* gallery */
.gallery img {
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(100%);
}

